.footer {
    background-color: #1938D1;
    position: relative;
        clear: both;
}


.footer-header>h1 {
    color: white;
    font-size: 20px;
    font-family: Lulo;
    padding: 1em;
    justify-content: center;
    padding-top: 4em;
    text-align: left;
    display: flex;
    align-items: center;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: auto;
    width: 30em;
    
}

.footer-social-media {
    display: flex;
    gap: 1em;
}

.footer-social-media img {
    transition: all 0.5s ease-in-out;
}

.footer-social-media img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.footer-social-media a {
    color: white;
    font-size: 1.5em;
}

.footer-contact-form form {
    display: grid;
    gap: 0.5em;
    grid-template-rows: repeat(5, min-content) 1fr;
    grid-template-columns: 100%;
}

.footer-contact-form .form-group {
    display: grid;
    gap: 0.5em;
}

input:required {
    box-shadow: none;
  }
  
  input:invalid {
    box-shadow: 0 0 5px red;
  }
  

.footer-contact-form input,
.footer-contact-form textarea {
    width: 100%;
    padding: 1em;
    background-color: #1855BF;
    border: none;
    color: white;
    outline: none;
    box-shadow: none;
    resize: none;
}

.footer-contact-form input::placeholder,
.footer-contact-form textarea::placeholder {
    color: rgb(210, 210, 210);
    font-family: Avenir Light;
}

.footer-contact-form button {
    background-color: white;
    position: relative;
    left: 26px;
    font-family: Avenir Heavy;
    color: blue;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    justify-self: end;
    width: 120px;
}

.footer-contact-form button:hover {
    background-color: #23324F;
    color: white;
}

.footer-bottom {
    background-color: #23324F;
    color: #6C9491;
    text-align: center;
    padding: 1em;
}

.footer-link {
    color: white;
    text-decoration: none;

}

/* CSS sebelumnya */

/* Tambahkan media query untuk perangkat mobile */
@media (max-width: 480px) {
    .footer {
        position: relative;
        clear: both;
      }
    

    .footer-social-media {
        justify-content: center;
    }

    
    
    .footer-header>h1 {
      /* Ubah properti atau tambahkan properti lain untuk menyesuaikan tampilan di perangkat mobile */
      font-size: 18px;
      padding-top: 2em;
      /* Contoh properti lain untuk menurunkan tampilan */
      text-align: center;
    }
    
    .footer-content {
        display: block;
        padding: 1em;
        margin: auto;
        width: auto;
      }

      .footer-contact-form {
        margin-top: 5em;
        margin-left: 0.4em;
        width: 20em;
    }
      
    
    /* Tambahkan perubahan lainnya sesuai kebutuhan */
  }
  