.App {
    text-align: left;
    animation-duration: 4s;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../assets/fonts/Avenir-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lulo';
    src: url('../assets/fonts/Lulo.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('../assets/fonts/Avenir-Heavy.ttf') format('truetype');
    font-display: swap;
}

.introduction {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 53px;
    font-family: Avenir Heavy;
    white-space: pre-line;
    color: #ffffff;
    text-align: left;
}

.highlight {
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}


.App {
    overflow: auto;
    padding-bottom: 180px;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

@media (max-width: 1024px) {
    .introduction {
        font-size: 37px;
        min-height: 40vh;

    }
}

@media (max-width: 768px) {
    .introduction {
        font-size: 32px;
        min-height: 25vh;
    }
}

@media (max-width: 761px) {
    .introduction {
        font-size: 20px;
        min-height: 18vh;
    }
}

@media (max-width: 375px) {
    .introduction {
        font-size: 25px;
        width: -1vh;
    }

}